{% extends "layout.html" %}

{% block content %}

{% block body %}

<h2>Sivu ryhmien vuotinen yhteenveto</h2>

<table class="table">
    <thead thead-light>
        <tr>
            <th>Osoite</th>
            <th>kokonais lukumaara vuoden aikana</th>
        </tr>
    </thead>
    <tbody>
        {% for tulos in vuosi %}
        <tr>
            <td>{{ tulos.ryhma }}</td>
            <td>{{ tulos.maara }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% endblock %}
