{% extends "layout.html" %}

{% block content %}

{% block body %}

<h2>selaimien vuotinen yhteenveto</h2>

<table class="table">
    <thead thead-light>
        <tr>
            <th>Selain</th>
            <th>Kokonais lukumaara vuoden aikana</th>
        </tr>
    </thead>
    <tbody>
        {% for tulos in selaimet %}
        <tr>
            <td>{{ tulos.nimi }}</td>
            <td>{{ tulos.maara }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% endblock %}
