<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>

<body>
    
    {% if current_user.is_authenticated %}
    <p>
        Kirjautunut nimellä {{ current_user.name }} <a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>

        or <a href="{{ url_for('auth_personal') }}">edit account</a>
    </p>
    {% else %}
    <a href="{{ url_for('auth_login') }}">Kirjaudu</a>
    {% endif %}

    <ul>
        <li><a href="{{ url_for('visit_index') }}">List visits</a></li>
        <li><a href="{{ url_for('visits_form') }}">Add a visit</a></li>
        <li><a href="{{ url_for('companys') }}">Yritykset</a></li>
    </ul>

    {% block content %}{% endblock %}

</body>
</html>
