{% extends "layout.html" %}

{% block content %}

{% block body %}

<h2>Lisää uusi tietue ensi käynteihin</h2>

<form method="POST" action="{{ url_for('kavija_lisays') }}">
    {{ form.hidden_tag() }}

    <div class="form-row">
        <div class="col-md-3 mb-3">
            <div class="form-group">{{ form.selain.label }}: {{ form.selain(class="form-control") }}</div>
            {% for error in form.selain.errors %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}
        </div>
        <div class="col-md-3 mb-3">
            <div class="form-group">{{ form.kayttis.label }}: {{ form.kayttis(class="form-control") }}</div>
            {% for error in form.kayttis.errors %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <div class="form-group">{{ form.kaynnit.label }}: {{ form.kaynnit(class="form-control") }}</div>
            {% for error in form.kaynnit.errors %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <div class="form-group">{{ form.tuloSivu.label }}: {{ form.tuloSivu(class="form-control") }}</div>
            {% for error in form.tuloSivu.errors %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}
        </div>
        <div class="col-md-3 mb-3">
            <div class="form-group">{{ form.osoiteRyhma.label }}: {{ form.osoiteRyhma(class="form-control") }}</div>
            {% for error in form.osoiteRyhma.errors %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <div class="form-group">{{ form.vuosi.label }}: {{ form.vuosi(class="form-control") }}</div>
        </div>
        <br />
        <div class="col-md-3 mb-3">
            <div class="form-group">{{ form.kuukausi.label }}: {{ form.kuukausi(class="form-control") }}</div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Lisää</button>
</form>

{% endblock %}

{% endblock %}