{% extends "layout.html" %}

{% block content %}

{% block body %}

<li class="list-group-item" style="border: none"><a href="{{ url_for('auth_register') }}">Rekistöröitynyt?</a></li>

<br />

<span style="color: red;">{{error}}</span>

<br /><h2> Kirjaudu</h2><br />

<form method="POST" action="{{ url_for('auth_login') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">{{ form.username.label }}: {{ form.username(class="form-control") }}</div>
    <div class="form-group">{{ form.password.label }}: {{ form.password(class="form-control") }}</div>

    <button type="submit" class="btn btn-primary">Kirjaudu</button>
</form>

{% endblock %}

{% endblock %}