{% extends "layout.html" %}

{% block content %}

{% block body %}

{{ error }}
<form method="POST" action="{{ url_for('auth_personal') }}">
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td>
                {{ form.name.label }}
            </td>
            <td>
                {{ form.name }}
            </td>
            <td>
                <ul>
                    {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.password.label }}
            </td>
            <td>
                {{ form.password }}
            </td>
            <td>
                <ul>
                    {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="update" />
            </td>
        </tr>
    </table>
</form>

{% endblock %}

{% endblock %}