{% extends "layout.html" %}

{% block content %}

{% block body %}

<form method="POST" action="{{ url_for('auth_register') }}">
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td>
                {{ form.name.label }}
            </td>
            <td>
                {{ form.name }}
            </td>
            <td>
                <ul>
                    {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
        <td>
            {{ form.phonenumber.label }}
        </td>
        <td>
            {{ form.phonenumber }}
        </td>
        <td>
            <ul>
                {% for error in form.phonenumber.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </td>
        </tr>
        <tr>
            <td>
                {{ form.email.label }}
            </td>
            <td>
                {{ form.email }}
            </td>
            <td>
                <ul>
                    {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.company.label }}
            </td>
            <td>
                {{ form.company }}
            </td>
            <td>
                <ul>
                    {% for error in form.company.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.address.label }}
            </td>
            <td>
                {{ form.address }}
            </td>
            <td>
                <ul>
                    {% for error in form.address.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.username.label }}
            </td>
            <td>
                {{ form.username }}
            </td>
            <td>
                <ul>
                    {% for error in form.username.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.password.label }}
            </td>
            <td>
                {{ form.password }}
            </td>
            <td>
                <ul>
                    {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="register" />
            </td>
        </tr>
    </table>
</form>

{% endblock %}

{% endblock %}