{% extends "layout.html" %}

{% block content %}

{% block body %}

<h2>Rekistöröidy</h2>

{{ invalid }}

<form method="POST" action="{{ url_for('auth_register') }}">
    {{ form.hidden_tag() }}

    <div class="col-md-3 mb-3">
        <div class="form-group">{{ form.name.label }}: {{ form.name(class="form-control") }}</div>
        {% for error in form.name.errors %}
        <span style="color: red;">{{error}}</span>
        {% endfor %}
    </div>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <div class="form-group">{{ form.phonenumber.label }}: {{ form.phonenumber(class="form-control") }}</div>
            {% for error in form.phonenumber.errors %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}
        </div>
        <div class="col-md-3 mb-3">
            <div class="form-group">{{ form.email.label }}: {{ form.email(class="form-control") }}</div>
            {% for error in form.email.errors %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <div class="form-group">{{ form.company.label }}: {{ form.company(class="form-control") }}</div>
            {% for error in form.company.errors %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}
        </div>
        <div class="col-md-3 mb-3">
            <div class="form-group">{{ form.address.label }}: {{ form.address(class="form-control") }}</div>
            {% for error in form.address.errors %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <div class="form-group">{{ form.username.label }}: {{ form.username(class="form-control") }}</div>
            {% for error in form.username.errors %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}
        </div>
        <div class="col-md-3 mb-3">
            <div class="form-group">{{ form.password.label }}: {{ form.password(class="form-control") }}</div>
            {% for error in form.password.errors %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Rekistöröidy</button>
</form>

{% endblock %}

{% endblock %}