{% extends "layout.html" %}

{% block content %}

{% block body %}

<h2>Uusi kuukausi tieto käynneistä</h2>

<form method="POST" action="{{ url_for('visits_create') }}">
    {{ form.hidden_tag() }}
    
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <div class="form-group">{{ form.website.label }}: {{ form.website(class="form-control") }}</div>
            {% for error in form.website.errors %}
            <span class="error">{{error}}</span>
            {% endfor %}
        </div>
        <div class="col-md-3 mb-3">
            <div class="form-group">{{ form.websiteGroup.label }}: {{ form.websiteGroup(class="form-control") }}</div>
            {% for error in form.websiteGroup.errors %}
            <span class="error">{{error}}</span>
            {% endfor %}
        </div>
        <div class="col-md-3 mb-3">
            <div class="form-group">{{ form.VisitAmount.label }}: {{ form.VisitAmount(class="form-control") }}</div>
            {% for error in form.VisitAmount.errors %}
            <span class="error">{{error}}</span>
            {% endfor %}
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <div class="form-group">{{ form.year.label }}: {{ form.year(class="form-control") }}</div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="form-group">{{ form.month.label }}: {{ form.month(class="form-control") }}</div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Lisää</button>
</form>

{% endblock %}

{% endblock %}
